.coupencover{
	border: 1px solid #ccc;
	border-radius: 6px;
	
	padding: 10px;
	overflow: auto;
	cursor: pointer;
}
.leftcontent{
	background-color: green;
	width: calc(100% / 2) ;
	float: left;
	padding: 5px;
}
.rightcontent{
	background-color: white;
	width: calc(100% / 2) ;
	float: left;
	padding: 5px;
}
.leftcontent span,
.rightcontent span{
	display: block;
}
.coupencover.useme{
	background-color: #ddd;
}
.coupencover.usedme{
	background: red;
	transistion : all 0.3s easeOutBack;
}